<!DOCTYPE html>
<html>
    <head>
        <title>Join | KahootClone</title>
        <link rel = "stylesheet" href = "/static/Login.css">
        <link href="https://fonts.googleapis.com/css?family=Raleway" rel="stylesheet">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body>
        <h1 id = "title">Quiz Login</h1>
        <form action="/player/">
            <div class="form-field">
                <label id = "label">First Name</label>
                <input id = "name" type = "text" name="name" autofocus/>
            </div>
            <br>
            <div class="form-field">
                <label id = "label">Last Name</label>
                <input id = "name" type = "text" name="name" autofocus/>
            </div>
            <br>
            <div class="form-field">
                <label id = "label">Username</label>
                <input id = "name" type = "text" name="name" autofocus/>
            </div>
            <br>
            <div class="form-field">
                <button id = "joinButton">Start Quiz</button>
            </div>
        </form>
        <br/>
    </body>
</html>